# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MyGitHub\BUET CSE L3 T1 Labs\CSE-308-Software-Engineering\Offline 2\Problem 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
